
.icon-home:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-signal:before { content: '\e803'; } /* '' */
.icon-fast-fw:before { content: '\e804'; } /* '' */
.icon-fast-bw:before { content: '\e805'; } /* '' */
.icon-print:before { content: '\e806'; } /* '' */
.icon-clock:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-odnoklassniki-square:before { content: '\f264'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */